@media (min-width: 1024px) and (max-width: 1280px) {
  .responsive-text {
    font-size: 10px !important;
  }
  .responsive-heading {
    font-size: 45px !important;
    line-height: 50px;
  }
  .responsive-text {
    font-size: 12px !important;
    font-weight: 500;
  }
  .responsive-rigth-banner-card {
    width: 400px;
  }
  .responsive-representation {
    font-size: 40px;
    line-height: 50px;
  }
  .responsive-representation-left {
    height: 450px !important;
    width: 400px !important;
    position: relative;
    background-color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .responsive-representation-left img {
    padding: 4rem !important;
    bottom: -64px !important;
  }
  .responsive-text-2 {
    font-size: 13px !important;
    font-weight: 500;
  }
  .responsive-years {
    top: 140px !important;
    right: 60px !important;
  }
  .responsive-year-pds {
    padding: 10px !important;
  }
  .dispaly-none {
    display: none !important;
  }
  .testimonials-circle-design-1 {
    height: 80px;
    left: -61px;
  }
  .testimonials-circle-design-2 {
    height: 100px;
    left: -61px;
  }
  .testimonials-circle-design-3 {
    height: 80px;
    right: -61px;
  }
  .testimonials-circle-design-4 {
    height: 100px;
    right: -61px;
  }

  .footer-circle-design-1 {
    height: 30px;
    left: -61px;
  }
  .footer-circle-design-2 {
    height: 50px;
    left: -59px;
  }
  .footer-circle-design-3 {
    height: 50px;
    right: -61px;
  }
  .footer-circle-design-4 {
    height: 50px;
    right: -59px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .testimonials-circle-design-1 {
    height: 80px;
    left: -61px;
  }
  .testimonials-circle-design-2 {
    height: 100px;
    left: -61px;
  }
  .testimonials-circle-design-3 {
    height: 80px;
    right: -61px;
  }
  .testimonials-circle-design-4 {
    height: 100px;
    right: -61px;
  }

  .footer-circle-design-1 {
    height: 30px;
    left: -61px;
  }
  .footer-circle-design-2 {
    height: 50px;
    left: -59px;
  }
  .footer-circle-design-3 {
    height: 50px;
    right: -61px;
  }
  .footer-circle-design-4 {
    height: 50px;
    right: -59px;
  }
}
